* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-image: url(./3.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover; */	
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid tomato; */
    height: 70vh;
    width: 60vw;
    line-height: 3rem;
    text-align: center;
}

span {
    color: red;
    font-weight: 600;
}

header {
    /* border: 1px solid orange; */
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
}

header h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
}

main input {
    height: 2.5rem;
    width: 7rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

main button {
    height: 2.5rem;
    width: 7rem;
    margin: .5rem 0;
    cursor: pointer;
}

p {
    font-size: 2rem;
}