@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	background-image: url(./img/numbers.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60vw;
    text-align: center;
}

span {
    color: red;
}


h1 {
    /* margin-bottom: 2rem; */
    font-size: 3rem;
}

.please {
    margin-bottom: 2rem;
}
input {
    height: 2.5rem;
    width: 7rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

button {
    height: 2.5rem;
    width: 7rem;
    margin: .5rem 0;
    cursor: pointer;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p {
    font-size: 2rem;
}


/* 
@media (max-width:900px){
    h1{
        width: 50%;
        margin-top: 150px;
        font-size: 2rem;
    }
    .please, .para, .life{      
        font-size: 2rem;  
    }

    .input{
        width: 100px;
        height: 40px;
        font-size: 30px;
        }
    .check, .restart{
        width: 100px;
        line-height: 40px;
        font-size: 20px;

    }
    .check:active, .restart:active{
        font-size: 23px;
    }
}


@media (max-width:470px){
     header {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

    h1{
        width: 50%;
        margin-top: 2.7rem;
        font-size: 1rem;
        text-align: center;
    }
    .please, .lets, .game-end{      
        font-size: 1rem;  
    }

    #number {
        width: 70px;
        height: 30px;
        font-size: 20px;
        border-radius: 5px;
        }

    .check, .restart{
        width: 70px;
        line-height: 30px;
        font-size: 10px;
        border-radius: 5px;

    }
    .check:active, .restart:active{
        font-size: 13px;
    }
} */